In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load 
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_df = pd.read_csv(file_to_load)

purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [2]:
# total number of players
player_count = purchase_df["SN"].nunique()

# create data frame to display player count
player_count_df = pd.DataFrame({"Total players": [player_count]})
player_count_df

   Total players
0            576

In [3]:
# number of unique items
item_count = purchase_df["Item ID"].nunique()

# average price
avg_price = purchase_df["Price"].mean()

# number of purchases
purchase_count = purchase_df["Purchase ID"].count()

# total revenue
revenue = purchase_df["Price"].sum()

# create data frame to display summary
summary_df = pd.DataFrame({"Number of Unique Items":[item_count], "Average Price":[avg_price], \
                           "Number of Purchases":[purchase_count], "Total Revenue":[revenue]})

# format columns
summary_df["Average Price"] = summary_df["Average Price"].astype(float).map("${:,.2f}".format)
summary_df["Total Revenue"] = summary_df["Total Revenue"].astype(float).map("${:,.2f}".format)

summary_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

In [4]:
# group by gender
grouped_gender_data = purchase_df.groupby(["Gender"])

In [5]:
# calculate count by gender
gender_count = grouped_gender_data["SN"].nunique()

In [6]:
# calculate percentages by gender
gender_percents = grouped_gender_data["SN"].nunique() / player_count * 100

In [21]:
# create data frame to display summary
gender_demo_df = pd.merge(gender_count, gender_percents, on="Gender")
gender_demo_df = gender_demo_df.rename(columns={"SN_x": "Total Count", "SN_y": "Percentage of Players"})
gender_demo_df = gender_demo_df.sort_values("Total Count", ascending=False)
gender_demo_df["Percentage of Players"] = gender_demo_df["Percentage of Players"].astype(float).map("{:,.2f}%".format)

gender_demo_df

                       Total Count Percentage of Players
Gender
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

In [8]:
# calculate purchase count by gender
gender_purchase_count = grouped_gender_data["Purchase ID"].count()

#calculate average purchase price by gender
gender_avg_price = grouped_gender_data["Price"].mean()

# calculate total purchase value by gender
gender_tot_purchase = grouped_gender_data["Price"].sum()

# calculate average total purchase per person per gender
grouped_person_data = purchase_df.groupby(["SN", "Gender"])
person_avg_purchase = grouped_person_data["Price"].sum()
grouped_person_df = person_avg_purchase.reset_index()
grouped_gender_person_data = grouped_person_df.groupby(["Gender"])
gender_avg_price_person = grouped_gender_person_data["Price"].mean()

In [9]:
# create data frame to display summary
gender_purchase_summ_df = pd.merge(gender_purchase_count, gender_avg_price, on="Gender")
gender_purchase_summ_df = pd.merge(gender_purchase_summ_df, gender_tot_purchase, on="Gender")
gender_purchase_summ_df = pd.merge(gender_purchase_summ_df, gender_avg_price_person, on="Gender")
gender_purchase_summ_df = gender_purchase_summ_df.rename(columns={"Purchase ID" : "Purchase Count", 
                                                         "Price_x" : "Average Purchase Price", 
                                                         "Price_y" : "Total Purchase Value", 
                                                         "Price" : "Avg Total Purchase per Person"})

gender_purchase_summ_df["Average Purchase Price"] = gender_purchase_summ_df[
    "Average Purchase Price"].astype(float).map("${:,.2f}".format)
gender_purchase_summ_df["Total Purchase Value"] = gender_purchase_summ_df[
    "Total Purchase Value"].astype(float).map("${:,.2f}".format)
gender_purchase_summ_df["Avg Total Purchase per Person"] = gender_purchase_summ_df[
    "Avg Total Purchase per Person"].astype(float).map("${:,.2f}".format)

gender_purchase_summ_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [10]:
# create bins for age groups
bins = [0,9,14,19,24,29,34,39,120]
bin_names = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

In [11]:
# add Age Group column with bin names
age_df = purchase_df
age_df["Age Group"] = pd.cut(age_df["Age"], bins, labels=bin_names, include_lowest=True)
age_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [14]:
# group by age group
age_group_data = age_df.groupby("Age Group")

# count players per age group
age_count = age_group_data["SN"].nunique()

Age Group
<10       17
10-14     22
15-19    107
20-24    258
25-29     77
30-34     52
35-39     31
40+       12
Name: SN, dtype: int64

In [23]:
# create data frame of player count
age_demo_df = pd.DataFrame(age_count)
age_demo_df = age_demo_df.rename(columns={"SN" : "Total Count"})

# add column of player percentage
age_demo_df["Percentage of Players"] = age_demo_df["Total Count"] / player_count * 100
age_demo_df["Percentage of Players"] = age_demo_df["Percentage of Players"].astype(float).map("{:,.2f}%".format)

age_demo_df

           Total Count Percentage of Players
Age Group
<10                 17                 2.95%
10-14               22                 3.82%
15-19              107                18.58%
20-24              258                44.79%
25-29               77                13.37%
30-34               52                 9.03%
35-39               31                 5.38%
40+                 12                 2.08%

In [28]:
# calculate purchase count by age group
age_purchase_count = age_group_data["Purchase ID"].count()

# calculate average purchase price by age group
age_avg_price = age_group_data["Price"].mean()

# calculate total purchase value by age group
age_tot_purchase = age_group_data["Price"].sum()

# calculate average total purchase per person by age group
grouped_person_age_data = purchase_df.groupby(["SN", "Age Group"])
person_avg_purchase_age = grouped_person_age_data["Price"].sum()
grouped_person_age_df = person_avg_purchase_age.reset_index()
grouped_age_person_data = grouped_person_age_df.groupby(["Age Group"])
age_avg_price_person = grouped_age_person_data["Price"].mean()
age_avg_price_person

Age Group
<10      4.537059
10-14    3.762727
15-19    3.858785
20-24    4.318062
25-29    3.805195
30-34    4.115385
35-39    4.763548
40+      3.186667
Name: Price, dtype: float64

In [32]:
# create data frame to display summary
age_purchase_summ_df = pd.merge(age_purchase_count, age_avg_price, on="Age Group")
age_purchase_summ_df = pd.merge(age_purchase_summ_df, age_tot_purchase, on="Age Group")
age_purchase_summ_df = pd.merge(age_purchase_summ_df, age_avg_price_person, on="Age Group")
age_purchase_summ_df = age_purchase_summ_df.rename(columns={"Purchase ID" : "Purchase Count", 
                                                         "Price_x" : "Average Purchase Price", 
                                                         "Price_y" : "Total Purchase Value", 
                                                         "Price" : "Avg Total Purchase per Person"})
age_purchase_summ_df["Average Purchase Price"] = age_purchase_summ_df[
    "Average Purchase Price"].astype(float).map("${:,.2f}".format)
age_purchase_summ_df["Total Purchase Value"] = age_purchase_summ_df[
    "Total Purchase Value"].astype(float).map("${:,.2f}".format)
age_purchase_summ_df["Avg Total Purchase per Person"] = age_purchase_summ_df[
    "Avg Total Purchase per Person"].astype(float).map("${:,.2f}".format)

age_purchase_summ_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Group,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19