In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load 
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_df = pd.read_csv(file_to_load)

purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [2]:
# total number of players
player_count = purchase_df["SN"].nunique()

# create data frame to display player count
player_count_df = pd.DataFrame({"Total players": [player_count]})
player_count_df

   Total players
0            576

In [3]:
# number of unique items
item_count = purchase_df["Item ID"].nunique()

# average price
avg_price = purchase_df["Price"].mean()

# number of purchases
purchase_count = purchase_df["Purchase ID"].count()

# total revenue
revenue = purchase_df["Price"].sum()

# create data frame to display summary
summary_df = pd.DataFrame({"Number of Unique Items":[item_count], "Average Price":[avg_price], \
                           "Number of Purchases":[purchase_count], "Total Revenue":[revenue]})

# format columns
summary_df["Average Price"] = summary_df["Average Price"].astype(float).map("${:,.2f}".format)
summary_df["Total Revenue"] = summary_df["Total Revenue"].astype(float).map("${:,.2f}".format)

summary_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

In [4]:
# group by gender
grouped_gender_data = purchase_df.groupby(["Gender"])

In [5]:
# calculate count by gender
gender_count = grouped_gender_data["SN"].nunique()
gender_count

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: SN, dtype: int64

In [6]:
# calculate percentages by gender
gender_percents = grouped_gender_data["SN"].nunique() / player_count * 100
gender_percents

Gender
Female                   14.062500
Male                     84.027778
Other / Non-Disclosed     1.909722
Name: SN, dtype: float64

In [7]:
# create data frame to display summary
gender_demo_df = pd.merge(gender_count, gender_percents, on="Gender")
gender_demo_df = gender_demo_df.rename(columns={"SN_x": "Total Count", "SN_y": "Percentage of Players"})
gender_demo_df = gender_demo_df.sort_values("Total Count", ascending=False)
gender_demo_df["Percentage of Players"] = gender_demo_df["Percentage of Players"].astype(float).map("{:,.2f}%".format)

gender_demo_df

                       Total Count Percentage of Players
Gender
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

In [25]:
# calculate purchase count by gender
gender_purchase_count = grouped_gender_data["Purchase ID"].count()

#calculate average purchase price by gender
gender_avg_price = grouped_gender_data["Price"].mean()

# calculate total purchase value by gender
gender_tot_purchase = grouped_gender_data["Price"].sum()

# calculate average total purchase per person per gender
grouped_person_data = purchase_df.groupby(["SN", "Gender"])
person_avg_purchase = grouped_person_data["Price"].sum()
grouped_person_df = person_avg_purchase.reset_index()
grouped_gender_person_data = grouped_person_df.groupby(["Gender"])
gender_avg_price_person = grouped_gender_person_data["Price"].mean()
gender_avg_price_person

Gender
Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
Name: Price, dtype: float64