In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load 
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_df = pd.read_csv(file_to_load)

purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [10]:
# total number of players
player_count = purchase_df["SN"].nunique()

# create data frame to display player count
player_count_df = pd.DataFrame({"Total players": [player_count]})
player_count_df

   Total players
0            576

In [15]:
# number of unique items
item_count = purchase_df["Item ID"].nunique()

# average price
avg_price = purchase_df["Price"].mean()

# number of purchases
purchase_count = purchase_df["Purchase ID"].count()

# total revenue
revenue = purchase_df["Price"].sum()

# create data frame to display summary
summary_df = pd.DataFrame({"Number of Unique Items":[item_count],"Average Price":[avg_price],"Number of Purchases":[purchase_count],"Total Revenue":[revenue]})

# format columns
summary_df["Average Price"] = summary_df["Average Price"].astype(float).map("${:,.2f}".format)
summary_df["Total Revenue"] = summary_df["Total Revenue"].astype(float).map("${:,.2f}".format)

summary_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77